# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientist use are:

1.Python

2.Sql

3.R

4.VBA

5.Java

6.Julia

Some of the commonly used libraries by Data Scientists include:

1.Pandas

2.Numpy

3.Seaborn

4.Scikit-learn

5.scipy

6.Matplotlib

# Data Science Tools

|Data Science Tools|
|------------------|
Microsoft powerbi|
|Informatica|
|Sql Server|
|SPSS|
|SAS|

# Below the few examples of Arithemetic expression in python

In [1]:
(3*4)+5

17

In [5]:
#In this code cell has converts minutes into hours
hours = 200 /60
print(hours)

3.3333333333333335

# Objectives

-In this notebook covered the popular languages, tools and libraries which are used by the Data Scientist are,

*Language are Python,Sql,R

*Tools like Iformatica, sql server etc.,

*Libraries are pandas,numpy, scikitlearn

# Author

Srivithya

Data Science Aspirants